.row-fluid
  .span12.well
    .row-fluid
      %strong.span3
        Casilla:
      .span3
        = @box.kind_and_number
      %strong.span3
        Sección:
      .span3
        = @box.section

    .row-fluid
      %strong.span3
        Delegación/Municipio:
      .span3
        = @box.district_head
      %strong.span3
        Estado:
      .span3
        = @box.state_name


= form_for [:admin, @box], :html => {class: 'form-horizontal', :multipart => true } do |f|
  .row-fluid
    .span12.well
      .row-fluid
        .span6.control-group
          %label.control-label
            Ubicacion:
          .controls
            = f.text_field :location, class: :span12

        .span6.control-group
          %label.control-label
            Direccion:
          .controls
            = f.text_field :address, class: :span12

      .row-fluid
        .span6.control-group
          %label.control-label
            Referencia:
          .controls
            = f.text_field :references, class: :span12

        .span6.control-group
          %label.control-label
            Foto de casilla:
          .controls
            = f.fields_for :result_images do |image_form|
              = image_form.file_field :image, class: :span12

        .row-fluid
          .span12
            = f.submit 'Enviar', class: 'btn btn-primary'

        .row-fluid
          .span12
            - @box.result_images.each do |result_image|
              = image_tag result_image.image.url(:thumb)
