%h1 Casillas

%div
  = form_tag admin_boxes_path, :method => 'get' do
    Busqueda de casilla
    =select_tag(:state, options_for_select(State.all.map {|st| [st.name, st.id]} ), :include_blank=>true)
    = text_field_tag :section, params[:section], :placeholder=>"Número de Sección"
    = submit_tag "Buscar", :name => nil

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Id
      %th Estado
      %th Sección
      %th Tipo
      %th Acciones
      %th
  %tbody
    -@boxes.each do |box|
      %tr
        %td= box.id
        %td= box.state_name
        %td= box.section
        %td= box.kind
        %td
          %ul
            %li
              = link_to 'Ver', [:admin, box]
            %li
              = link_to 'Editar', edit_admin_box_path(box)

= paginate @boxes