%h1 Casillas

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Id
      %th Estado
      %th Sección
      %th Tipo
      %th Acciones
      %th
  %tbody
    -@boxes.each do |box|
      %tr
        %td= box.id
        %td= box.state_name
        %td= box.section
        %td= box.kind
        %td
          %ul
            %li
              = link_to 'Ver', [:admin, box]
            %li
              = link_to 'Editar', edit_admin_box_path(box)

= paginate @boxes