<%if @box.class == Box%>
<% total = @box.pri+@box.pan+@box.prd+@box.vem+@box.pt+@box.movimiento_ciudadano+@box.nueva_alianza+@box.otro+@box.nulo%>
	<h1>Resultados de la casilla <%=@box.number%></h1>
	<table border="1">
	<tr>
		<td>Estado</td><td><%=@box.state.name%></td>
	</tr>
	<tr>
		<td>Municipio</td><td><%=@box.municipality.name%></td>
	</tr>
	<tr>
		<td>Seccion</td><td><%=@box.secction%></td>
	</tr>
	<tr>
		<td>Distrito</td><td><%=@box.district%></td>
	</tr>
	<tr>
		<td>Casilla</td><td><%=@box.number%></td>
	</tr>
	<tr>
		<td>Ubicacion</td><td><%=@box.location%></td>
	</tr>
	<tr>
		<th colspan="2">Resultados</th>
	</tr>
	<tr>
		<td><img src="/assets/logo_pri.png"></td><td><%=@box.pri%></td>
	</tr>
	<tr>
		<td><img src="/assets/logo_pan.png"></td><td><%=@box.pan%></td>
	</tr>
	<tr>
		<td><img src="/assets/logo_prd.png"></td><td><%=@box.prd%></td>
	</tr>
	<tr>
		<td><img src="/assets/logo_vem.png"></td><td><%=@box.vem%></td>
	</tr>
	<tr>
		<td><img src="/assets/logo_pt.jpg"></td><td><%=@box.pt%></td>
	</tr>
	<tr>
		<td><img src="/assets/logo_movimiento_ciudadano.jpg"></td><td><%=@box.movimiento_ciudadano%></td>
	</tr>
	<tr>
		<td><img src="/assets/logo_nueva_alianza.png"></td><td><%=@box.nueva_alianza%></td>
	</tr>
	<tr>
		<td><img src="/assets/logo_votos_nulos.png"></td><td><%=@box.nulo%></td>
	</tr>
	<tr>
		<td><img src="/assets/logo_otro_candidato.png"></td><td><%=@box.otro%></td>
	</tr>
	<tr>
		<td>Total</td><td><%=total%></td>
	</tr>
	<tr>
		<td colspan="2">
			<%=image_tag @box.ticket_voting.url%>
		</td>
	</tr>
	</table>
<div class="fb-comments" data-href="<%=request.url%>" data-num-posts="10" data-width="940"></div>
<%else%>
	<h1>No se encontro la casilla</h1>
<%end%>
