<h1>Resultados a nivel Nacional</h1>
	<%
		votos_pri = @results.map(&:pri).sum
		votos_pan = @results.map(&:pan).sum
		votos_prd = @results.map(&:prd).sum
		votos_vem = @results.map(&:vem).sum
		votos_pt = @results.map(&:pt).sum
		votos_movimiento_ciudadano = @results.map(&:movimiento_ciudadano).sum
		votos_nueva_alianza = @results.map(&:nueva_alianza).sum
		votos_otro = @results.map(&:otro).sum
		votos_nulo = @results.map(&:nulo).sum
		votos_totales = votos_pri+votos_pan+votos_prd+votos_vem+votos_pt+votos_movimiento_ciudadano+votos_nueva_alianza+votos_otro+votos_nulo
	%>
	<table border="1">
		<tr>
			<td><img src="/assets/logo_pri.png"></td>
			<td><%=votos_pri%></td>
		</tr>
		<tr>
			<td><img src="/assets/logo_pan.png"></td>
			<td><%=votos_pan%></td>
		</tr>
		<tr>
			<td><img src="/assets/logo_prd.png"></td>
			<td><%=votos_prd%></td>
		</tr>
		<tr>
			<td><img src="/assets/logo_vem.png"></td>
			<td><%=votos_vem%></td>
		</tr>
		<tr>
			<td><img src="/assets/logo_pt.jpg"></td>
			<td><%=votos_pt%></td>
		</tr>
		<tr>
			<td><img src="/assets/logo_movimiento_ciudadano.jpg"></td>
			<td><%=votos_movimiento_ciudadano%></td>
		</tr>
		<tr>
			<td><img src="/assets/logo_nueva_alianza.png"></td>
			<td><%=votos_nueva_alianza%></td>
		</tr>
		<tr>
			<td><img src="/assets/logo_otro_candidato.png"></td>
			<td><%=votos_otro%></td>
		</tr>
		<tr>
			<td><img src="/assets/logo_votos_nulos.png"></td>
			<td><%=votos_nulo%></td>
		</tr>
		<tr>
			<td>Total de votos</td>
			<td><%=votos_totales%></td>
		</tr>
	</table>
<div class="fb-comments" data-href="<%=request.url%>" data-num-posts="10" data-width="940"></div>