<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @municipality.name %>
</p>

<p>
  <b>State:</b>
  <%= @municipality.state.name %>
</p>


<%= link_to 'Edit', edit_municipality_path(@municipality) %> |
<%= link_to 'Back', municipalities_path %>
