<%= form_for([:admin, @admin]) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :"comfirmar password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
  	<%= f.label "Role"%>
  	<%= f.collection_select :role, Admin::ROLES, :to_s, :humanize,:include_blank=>true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
