%h1
  Administradores

%p
  = link_to 'Nuevo Administrador', new_admin_admin_path, class: [:btn, 'btn-primary']

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Email
      %th Rol
      %th Acciones
  %tbody
    -@admins.each do |admin|
      %tr
        %td= admin.email
        %td= admin.role
        %td
          %ul
            %li
              = link_to 'Ver', admin_admin_path(admin)
            %li
              = link_to 'Editar', edit_admin_admin_path(admin)
            %li
              = link_to 'Eliminar', admin_admin_path(admin), :confirm => '¿Esta seguro qur desea eliminar al administrador?', :method => :delete