%h1 Ticket No. #{@ticket.id}
%p{:id=>"notice"}= notice
%p
  %b ID:
  = @ticket.id
%p
  %b Insidente:
  = @ticket.issue
%p
  %b Estado:
  =@ticket.state
%p
  %b Ticketable:
  = @ticket.ticketable_id
  
= link_to 'Editar', edit_admin_ticket_path(@ticket)
\|
= link_to 'Regresar', admin_ticket_path