<h1>Listing municipalities</h1>
<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @municipalities.each do |municipality| %>
  <tr>
    <td><%= municipality.name %></td>
    <td><%= municipality.state.name %></td>
    <td><%= link_to 'Show', municipality %></td>
    <td><%= link_to 'Edit', edit_municipality_path(municipality) %></td>
    <td><%= link_to 'Destroy', municipality, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Municipality', new_municipality_path%>
<%= paginate @municipalities %>