%ul#results.row
  %li.span2
    .row
      .span1
        = image_tag 'logo_pan.png'
      .span1
        = @casilla.result.pan
  %li.span2
    .row
      .span1
        = image_tag 'logo_pri.png'
      .span1
        = @casilla.result.pri
  %li.span2
    .row
      .span1
        = image_tag 'logo_prd.png'
      .span1
        = @casilla.result.prd
  %li.span2
    .row
      .span1
        = image_tag 'logo_vem.png'
      .span1
        = @casilla.result.pvem
  %li.span2
    .row
      .span1
        = image_tag 'logo_pt.jpg'
      .span1
        = @casilla.result.pt
  %li.span2
    .row
      .span1
        = image_tag 'logo_movimiento_ciudadano.jpg'
      .span1
        = @casilla.result.movimiento_ciudadano
  %li.span2
    .row
      .span1
        = image_tag 'logo_nueva_alianza.png'
      .span1
        = @casilla.result.nueva_alianza
  %li.span2
    .row
      .span1
        = image_tag 'logo_otro_candidato.png'
      .span1
        = @casilla.result.others
  %li.span2
    .row
      .span1
        = image_tag 'logo_votos_nulos.png'
      .span1
        = @casilla.result.null
  %li.span2
    = submit_tag :Enviar, class: [:btn, :'btn-primary']