#results.span12
  .row-fluid
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_pan.png'
        .span6.result
          = @casilla.result.pan
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_pri.png'
        .span6.result
          = @casilla.result.pri

  .row-fluid
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_prd.png'
        .span6.result
          = @casilla.result.prd
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_vem.png'
        .span6.result
          = @casilla.result.pvem

  .row-fluid
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_pt.jpg'
        .span6.result
          = @casilla.result.pt
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_movimiento_ciudadano.jpg'
        .span6.result
          = @casilla.result.movimiento_ciudadano

  .row-fluid
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_nueva_alianza.png'
        .span6.result
          = @casilla.result.nueva_alianza
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_pri.png'
          = image_tag 'logo_vem.png'
        .span6.result
          = @casilla.result.pri_pvem

  .row-fluid
    .span6
      .row-fluid
        = image_tag 'logo_prd.png', class: :span2
        = image_tag 'logo_pt.jpg', class: :span2
        = image_tag 'logo_movimiento_ciudadano.jpg', class: :span2
        .span6.result
          = @casilla.result.prd_pt_mc
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_prd.png'
          = image_tag 'logo_pt.jpg'
        .span6.result
          = @casilla.result.prd_pt

  .row-fluid
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_prd.png'
          = image_tag 'logo_movimiento_ciudadano.jpg'
        .span6.result
          = @casilla.result.prd_mc
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_pt.jpg'
          = image_tag 'logo_movimiento_ciudadano.jpg'
        .span6.result
          = @casilla.result.pt_mc


  .row-fluid
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_otro_candidato.png'
        .span6.result
          = @casilla.result.others
    .span6
      .row-fluid
        .span6
          = image_tag 'logo_votos_nulos.png'
        .span6.result
          = @casilla.result.null