%h1
  Detalles de la Casilla

.row-fluid
  .well.span6#info-box
    - if @casilla.result.verified?
      .verified

    .row-fluid
      %strong.span3
        Casilla:
      .span9
        = @casilla.kind_and_number

    .row-fluid
      %strong.span3
        Ubicación:
      .span9
        = @casilla.complete_address

    .row-fluid
      %strong.span3
        Delegación/Municipio:
      .span9
        = @casilla.district_head

    .row-fluid
      %strong.span3
        Secci&oacute;n:
      .span9
        = @casilla.section

    .row-fluid
      %strong.span3
        Lista nominal:
      .span9
        = @casilla.nominal_list

    .row-fluid
      .span12
        #share
          .title
            Comparte tu casilla

          #share-facebook
            %a{href: "javascript:void(0)", onclick: 'window.open("http:\/\/www.facebook.com\/sharer.php?t=Yo votare en esta casilla&u=" + encodeURIComponent(window.location.href+"&fref=fb"), "my_window", "height=440,width=620,scrollbars=true");return false;', title: "Share on Facebook"}
              &nbsp;

          #share-twitter
            %a{'href' => "https://twitter.com/intent/tweet?url=#{casilla_url(id: @casilla.id)}&via=conteo_mx&text=Yo votare en esta casilla", 'data-lang' => "es", 'data-show-screen-name' => "false", 'data-dnt' => "true"}
              &nbsp;

    .row-fluid
      .span12
        - @casilla.get_tickets.each do |ticket|
          %span.label.label-important
            = ticket.issue

    .row-fluid
      .span3
        -if @casilla.map_reported?
          %span.label.label-important
            El mapa ya se encuentra reportado.
        - else
          = link_to 'Reportar mapa', casilla_tickets_path(casilla_id: @casilla.id, reason: 'map_ticket'), class: ['btn', 'btn-danger'], method: :post
      .span3
        .btn-group
          - if current_user
            %a{class: "btn btn-danger dropdown-toggle", "data-toggle" => "dropdown", href: "#"}
              Reportar Casilla
              %span{class: "caret"}
            %ul{class: "dropdown-menu"}
              %li
                = link_to 'Falta Fotografia', casilla_tickets_path(casilla_id: @casilla.id, reason: 'missing_photo'), method: :post, data: {confirm: '¿Seguro desea reportar la casilla como "Falta Fotografia"?'}
              %li
                = link_to 'Fotografia alterada', casilla_tickets_path(casilla_id: @casilla.id, reason: 'photo_altered'), method: :post, data: {confirm: '¿Seguro desea reportar la casilla como "Fotografia alterada"?'}
              %li
                = link_to 'Información dudosa', casilla_tickets_path(casilla_id: @casilla.id, reason: 'dubious_information'), method: :post, data: {confirm: '¿Seguro desea reportar la casilla como "Información dudosa"?'}
              %li
                = link_to 'Casilla sospechosa', casilla_tickets_path(casilla_id: @casilla.id, reason: 'suspicious_box'), method: :post, data: {confirm: '¿Seguro desea reportar la casilla como "Casilla sospechosa"?'}
              %li
                = link_to 'Sobrevotación', casilla_tickets_path(casilla_id: @casilla.id, reason: 'overvoting'), method: :post, data: {confirm: '¿Seguro desea reportar la casilla como "Sobrevotación"?'}
              %li
                = link_to 'Casilla no instalada', casilla_tickets_path(casilla_id: @casilla.id, reason: 'box_not_installed'), method: :post, data: {confirm: '¿Seguro desea reportar la casilla como "Casilla no instalada"?'}

  .span6
    #box-map

    - content_for :javascripts do
      $(document).ready(function() {
      google_maps = GoogleMaps.initialize(#{@casilla.options_for_maps.html_safe})
      google_maps.render();
      });

.row-fluid

  - if APP_CONFIG['upload_votes']
    #results.well.span5
      %h2
        Resultados
      = render partial: @casilla.results_partial

  - if APP_CONFIG['upload_images']
    #images.well.span7
      %h2
        Mantas Electorales

      = render partial: 'images'

.modal.fade#imageModal
