<!DOCTYPE html>
<html>
<head>
  <title>Admin Conteo</title>
  <link href="/assets/panel.css" rel="stylesheet" type="text/css" media="screen" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="admin-container">
		<nav>
			<%=link_to "Panel", admin_root_path %> |
			<%=link_to "Estados", admin_states_path%> |
			<%=link_to "Municipios", admin_municipalities_path %> |
			<%=link_to "Casillas", admin_boxes_path%> |
			<%=link_to "Usuarios", admin_users_path%> |
			<%=link_to "Salir", destroy_admin_session_path %>
	</nav>
	<div id="admin-content">
		<%=yield%>
	</div>
</div>
</body>
</html>