!!! 5
%head
  %title
    Conteo Ciudadano
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  #fb-root

  .navbar
    .navbar-inner
      .container
        %ul#main-nav.nav
          %li
            =link_to "Inicio",root_path
          %li
            =link_to "Enviar resultados", new_buscar_casillas_path
          %li
            =link_to "Consultar Resultados",'/search'
          %li
            =link_to "Nacional",'/nacional'

        %ul.nav.pull-right
          %li
            = user_signed_in? ? link_to('Cerrar sesion', destroy_user_session_path, method: :delete) : link_to('Registrarse/Ingresar','', id: 'login-button')
  .container
    = yield

#login-modal.modal.fade
  .modal-header
    %button{class: "close", 'data-dismiss' => "modal"}
      ×
    %h3
      Registrarse/Ingresar

  .modal-body
    .row
      .span7
        %p
          Escoge una de las siguientes opciones para ingresar:
    .row
      .span1.offset1
        = link_to image_tag('/assets/twitter_64.png'), '/auth/twitter'
      .span1.offset3
        = link_to image_tag('/assets/facebook_64.png'), '/auth/facebook'

